<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @tweet.picture %>
</p>

<p>
  <strong>Retweet number:</strong>
  <%= @tweet.retweet_number %>
</p>

<p>
  <strong>Likes number:</strong>
  <%= @tweet.likes_number %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
